.book-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin: 50px auto;
    padding:30px;

    background-color: #83b956;
    width: 400px;   
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

form #submit-btn{
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #0c9a4596;
    color: white;
}

form #update-btn{
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #0c9a4596;
    color: white;
}


form input{
    width:300px;
    height:30px;
    
}

