.signup {
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  height: 800px;

}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  padding: 40px;
  background-color: #347977; /* bg only around form */
  color: #281f1f;
  border-radius: 7px;
  width: 100%;
  height: 80%;
  max-width: 400px; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.form-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 100%;
}

.form-elements select{
    width:300px;
    height:30px;
    
}

#signup-btn{
  padding:10px;
  border-radius: 6px;
   margin-top: 10px;
  background-color:rgba(23, 133, 29, 0.948);
  color:white
}


