.book-data{
    display: flex;
    gap:30px;
    width: 100%;
    margin: 10px 10px;
    padding: 0 20px;
}
.home{
    display: flex;
    flex-direction: column;
}

.wallpaper{
    width: 100%;
    height:80vh;
    overflow: hidden;
    position: relative;
}
.wallpaper img {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* makes it behave like a cover photo */
    opacity:0.8;
}

#add-book-btn{
    padding:14px;
    width:120px;
    margin:10px;
    background-color: #91d0b3;
    border-color: rgba(218, 210, 200, 0.537);
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(35, 65, 58)

}

