.books{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.book{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:10px;
    text-align: center;
    border-radius: 5px;
    background-color: #478d6045;
    width:250px;
    height:410px;
}

.book h3{
    font-style: italic;
}
.btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#edit{
    background-color: #2c5691;
    border-radius: 5px;
    color:white;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-family:monospace;
}

#delete{
    background-color: rgb(147, 27, 27);
    color:white;
    padding: 5px;
    border-radius: 5px;
     text-transform: uppercase;
    font-weight: bold;
    font-family:monospace;
}

#cart-icon{
    width:50px;
    height: 50px;
    border-radius: 7px;
}

#cover{
    width:200px;
    height:200px;    
    border-radius: 5px;
}
.book-btns{
    margin-top: 20px;
}