.profile{
    display: flex;
    flex-direction: column;
}
.auth-toggle-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap:20px;
}

.auth-toggle-btns button{
   
    padding:10px;
    border-radius: 8px;
    border-color: white;
    color:rgb(251, 251, 255);
    background-color: rgb(38, 47, 117);
    font-size: large;
} 
.auth-section{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}